<?xml version="1.0"?>
<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />

  <arg name="controller_config_file" default="$(find ur_robot_driver)/config/ur10_controllers.yaml"/>
  <arg name="robot_description_file" default="$(find ur_description)/launch/ur10_upload.launch"/>
  <arg name="kinematics_config" default="$(find ur_description)/config/ur10_default.yaml"/>
  <arg name="robot_ip"/>
  <arg name="limited" default="false"/>
  <arg name="tf_prefix" default="" />
  <arg name="controllers" default="joint_state_controller joint_group_vel_controller force_torque_sensor_controller"/>
  <arg name="stopped_controllers" default="vel_based_pos_traj_controller"/>

  <include file="$(find ur_robot_driver)/launch/ur_common.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="use_tool_communication" value="false"/>
    <arg name="controller_config_file" value="$(arg controller_config_file)"/>
    <arg name="robot_description_file" value="$(arg robot_description_file)"/>
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="kinematics_config" value="$(arg kinematics_config)"/>
    <arg name="limited" value="$(arg limited)"/>
    <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    <arg name="controllers" value="$(arg controllers)"/>
    <arg name="stopped_controllers" value="$(arg stopped_controllers)"/>
  </include>

</launch>
