<?xml version="1.0"?>
<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg name="controller_config_file" default="$(find ur_rtde_driver)/config/ur3_controllers.yaml"/>
  <arg name="robot_description_file" default="$(find ur_description)/launch/ur3_upload.launch"/>
  <arg name="robot_ip"/>
  <!--<arg name="reverse_port" default="50001"/>-->
  <arg name="limited" default="false"/>
  <arg name="prefix" default="" />
  <arg name="controllers" default="joint_state_controller pos_based_pos_traj_controller speed_scaling_state_controller force_torque_sensor_controller"/>
  <!--<arg name="stopped_controllers" default=""/>-->
  <arg name="urscript_file" default="$(find ur_rtde_driver)/resources/servoj.urscript"/>
  <arg name="rtde_recipe_file" default="$(find ur_rtde_driver)/resources/rtde_recipe.txt"/>

  <include file="$(find ur_rtde_driver)/launch/ur_common.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="use_tool_communication" value="false"/>
    <arg name="controller_config_file" value="$(arg controller_config_file)"/>
    <arg name="robot_description_file" value="$(arg robot_description_file)"/>
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="limited" value="$(arg limited)"/>
    <arg name="prefix" value="$(arg prefix)"/>
    <arg name="controllers" value="$(arg controllers)"/>
    <arg name="urscript_file" value="$(arg urscript_file)"/>
    <arg name="rtde_recipe_file" value="$(arg rtde_recipe_file)"/>
  </include>

</launch>
